# Manipulate wind and solar farm data into something usable

In [1]:
import pandas as pd
# import numpy as np
# import xarray as xr

In [2]:
path = "/g/data/w42/dr6273/work/data/Open_NEM/"

# Issues:

- Some farms are missing coordinates. Try and find them using the farm name and Google maps.
- Some farms have multiple energy types, but the Generator Capacity lists the total. Split these into separate entries, and assign correct capacities using OpenNem website.
- It seems like the facilities on the OpenNEM website change regularly. For the download on 07/06/2023, there was a wind farm called 'Crudine Ridge'. This wasn't present the next day...

# NSW

In [162]:
nsw = pd.read_csv(
    path+"facilities_solar_wind_NSW.csv"
)

### Coordinates

In [163]:
nsw.loc[
    (nsw['Latitude'].isnull()) |
    (nsw['Longitude'].isnull())
]

,Facility Name,Status,Region,Technology,Generator Capacity (MW),Latitude,Longitude
7,Wellington,operating,New South Wales,Solar (Utility),216.0,NaN,NaN
9,White Rock,operating,New South Wales,"Solar (Utility),Wind",197.0,NaN,NaN
15,Metz N,operating,New South Wales,Solar (Utility),135.0,NaN,NaN
17,Bomen,operating,New South Wales,Solar (Utility),121.0,NaN,NaN
27,Goonumbla,operating,New South Wales,Solar (Utility),85.0,NaN,NaN

In [164]:
pd.options.mode.chained_assignment = None  # default='warn'

In [165]:
nsw_edited = nsw.copy()

Wellington

In [166]:
nsw_edited["Latitude"].iloc[7] = -32.5162961812663
nsw_edited["Longitude"].iloc[7] = 148.9612093835598

White Rock

In [167]:
nsw_edited["Latitude"].iloc[9] = -29.76264055097494
nsw_edited["Longitude"].iloc[9] = 151.5521448079424

Metz N (approximated from http://metzsolarfarm.com/location/ and Google Maps)

In [168]:
nsw_edited["Latitude"].iloc[15] = -30.527104988268896
nsw_edited["Longitude"].iloc[15] = 151.87411854905747

Bomen

In [169]:
nsw_edited["Latitude"].iloc[17] = -35.048297036400946
nsw_edited["Longitude"].iloc[17] = 147.4442568460288

Goonumbla (http://goonumblasolarfarm.com/about-us/ and https://www.google.com/maps/place/Parkes+Solar+Farm/@-33.1115994,148.0872867,4400m/data=!3m1!1e3!4m15!1m8!3m7!1s0x6b1ab4449ce55405:0x40609b490437280!2sGoonumbla+NSW+2870!3b1!8m2!3d-32.9178827!4d148.0521359!16s%2Fm%2F012l1gyt!3m5!1s0x6b1ab947765bed85:0xceccccac6dd3e0a6!8m2!3d-33.1129309!4d148.0763972!16s%2Fg%2F11g9dn4xby?entry=ttu)

In [170]:
nsw_edited["Latitude"].iloc[27] = -33.11247426196654
nsw_edited["Longitude"].iloc[27] = 148.0764769027703

### Wind and solar

- look at all rows that dont solely have either Wind or Solar (Utility)

In [171]:
nsw.loc[
    (nsw["Technology"] != "Solar (Utility)") &
    (nsw["Technology"] != "Wind")
]

,Facility Name,Status,Region,Technology,Generator Capacity (MW),Latitude,Longitude
9,White Rock,operating,New South Wales,"Solar (Utility),Wind",197.0,NaN,NaN
11,Gullen Range,operating,New South Wales,"Solar (Utility),Wind",175.0,-34.624512,149.458549

Duplicate rows

In [172]:
nsw_edited = nsw_edited.append(
    [
        nsw_edited.loc[
            (nsw_edited["Technology"] != "Solar (Utility)") &
            (nsw_edited["Technology"] != "Wind")
        ]
    ],
    ignore_index=True
)

/jobfs/86959326.gadi-pbs/ipykernel_3448781/3926266531.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  nsw_edited = nsw_edited.append(

In [173]:
nsw_edited.loc[nsw_edited["Technology"] == "Solar (Utility),Wind"]

,Facility Name,Status,Region,Technology,Generator Capacity (MW),Latitude,Longitude
9,White Rock,operating,New South Wales,"Solar (Utility),Wind",197.0,-29.762641,151.552145
11,Gullen Range,operating,New South Wales,"Solar (Utility),Wind",175.0,-34.624512,149.458549
47,White Rock,operating,New South Wales,"Solar (Utility),Wind",197.0,-29.762641,151.552145
48,Gullen Range,operating,New South Wales,"Solar (Utility),Wind",175.0,-34.624512,149.458549

Edit to separate out wind and solar
- White Rock: https://opennem.org.au/facilities/au/?selected=WHIROCWIND&tech=solar_utility,wind&status=operating
- Gullen Range: https://opennem.org.au/facilities/nsw1/?selected=GULLRGWF&tech=solar_utility,wind&status=operating

In [174]:
nsw_edited["Technology"].iloc[9] = "Solar (Utility)"
nsw_edited["Generator Capacity (MW)"].iloc[9] = 22

In [175]:
nsw_edited["Technology"].iloc[11] = "Solar (Utility)"
nsw_edited["Generator Capacity (MW)"].iloc[11] = 10

In [176]:
nsw_edited["Technology"].iloc[47] = "Wind"
nsw_edited["Generator Capacity (MW)"].iloc[47] = 175

In [177]:
nsw_edited["Technology"].iloc[48] = "Wind"
nsw_edited["Generator Capacity (MW)"].iloc[48] = 165

### Write

In [179]:
nsw_edited.to_csv(
    path+"edited/facilities_solar_wind_NSW_edited.csv",
    index=False
)

# QLD

In [180]:
qld = pd.read_csv(
    path+"facilities_solar_wind_QLD.csv"
)

### Coordinates

In [181]:
qld.loc[
    (qld['Latitude'].isnull()) |
    (qld['Longitude'].isnull())
]

Empty DataFrame
Columns: [Facility Name, Status, Region, Technology, Generator Capacity (MW), Latitude, Longitude]
Index: []

In [182]:
qld_edited = qld.copy()

### Wind and solar

In [183]:
qld.loc[
    (qld["Technology"] != "Solar (Utility)") &
    (qld["Technology"] != "Wind")
]

,Facility Name,Status,Region,Technology,Generator Capacity (MW),Latitude,Longitude
23,Kennedy Energy Park,operating,Queensland,"Battery (Discharging),Solar (Utility),Wind",60.2,-20.872792,144.413034

Duplicate rows

In [184]:
qld_edited = qld_edited.append(
    [
        qld_edited.loc[
            (qld_edited["Technology"] != "Solar (Utility)") &
            (qld_edited["Technology"] != "Wind")
        ]
    ],
    ignore_index=True
)

/jobfs/86959326.gadi-pbs/ipykernel_3448781/3591010649.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  qld_edited = qld_edited.append(

In [186]:
qld_edited.loc[
    (qld_edited["Technology"] != "Solar (Utility)") &
    (qld_edited["Technology"] != "Wind")
]

,Facility Name,Status,Region,Technology,Generator Capacity (MW),Latitude,Longitude
23,Kennedy Energy Park,operating,Queensland,"Battery (Discharging),Solar (Utility),Wind",60.2,-20.872792,144.413034
38,Kennedy Energy Park,operating,Queensland,"Battery (Discharging),Solar (Utility),Wind",60.2,-20.872792,144.413034

In [187]:
qld_edited["Technology"].iloc[23] = "Solar (Utility)"
qld_edited["Generator Capacity (MW)"].iloc[23] = 15

In [188]:
qld_edited["Technology"].iloc[38] = "Wind"
qld_edited["Generator Capacity (MW)"].iloc[38] = 43

### Write

In [190]:
qld_edited.to_csv(
    path+"edited/facilities_solar_wind_QLD_edited.csv",
    index=False
)

# SA

In [191]:
sa = pd.read_csv(
    path+"facilities_solar_wind_SA.csv"
)

### Coordinates

In [192]:
sa.loc[
    (sa['Latitude'].isnull()) |
    (sa['Longitude'].isnull())
]

,Facility Name,Status,Region,Technology,Generator Capacity (MW),Latitude,Longitude
27,Morganwhyalla Pipeline,operating,South Australia,Solar (Utility),0.0,NaN,NaN

In [201]:
sa_edited = sa.copy()

Morganwhyalla Pipeline

- Has zero capacity so just remove

In [202]:
sa_edited = sa_edited.drop(labels=27, axis=0)

### Wind and solar

In [203]:
sa.loc[
    (sa["Technology"] != "Solar (Utility)") &
    (sa["Technology"] != "Wind")
]

,Facility Name,Status,Region,Technology,Generator Capacity (MW),Latitude,Longitude
0,Port Augusta Energy Park,operating,South Australia,"Solar (Utility),Wind",309.0,-32.595609,137.885629
12,Tailem Bend 2,operating,South Australia,"Battery (Discharging),Solar (Utility)",155.0,-35.280000,139.490000

Duplicate rows

In [204]:
sa_edited = sa_edited.append(
    [
        sa_edited.loc[
            (sa_edited["Technology"] != "Solar (Utility)") &
            (sa_edited["Technology"] != "Wind")
        ]
    ],
    ignore_index=True
)

/jobfs/86959326.gadi-pbs/ipykernel_3448781/326923556.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sa_edited = sa_edited.append(

In [205]:
sa_edited.loc[
    (sa_edited["Technology"] != "Solar (Utility)") &
    (sa_edited["Technology"] != "Wind")
]

,Facility Name,Status,Region,Technology,Generator Capacity (MW),Latitude,Longitude
0,Port Augusta Energy Park,operating,South Australia,"Solar (Utility),Wind",309.0,-32.595609,137.885629
12,Tailem Bend 2,operating,South Australia,"Battery (Discharging),Solar (Utility)",155.0,-35.280000,139.490000
27,Port Augusta Energy Park,operating,South Australia,"Solar (Utility),Wind",309.0,-32.595609,137.885629
28,Tailem Bend 2,operating,South Australia,"Battery (Discharging),Solar (Utility)",155.0,-35.280000,139.490000

In [206]:
sa_edited["Technology"].iloc[0] = "Solar (Utility)"
sa_edited["Generator Capacity (MW)"].iloc[0] = 99

In [207]:
sa_edited["Technology"].iloc[27] = "Wind"
sa_edited["Generator Capacity (MW)"].iloc[27] = 210

In [208]:
sa_edited["Technology"].iloc[12] = "Solar (Utility)"
sa_edited["Generator Capacity (MW)"].iloc[12] = 105

In [209]:
sa_edited = sa_edited.drop(labels=28, axis=0) # Drop Tailem Bend 2 battery storage

### Write

In [211]:
sa_edited.to_csv(
    path+"edited/facilities_solar_wind_SA_edited.csv",
    index=False
)

# VIC

In [212]:
vic = pd.read_csv(
    path+"facilities_solar_wind_VIC.csv"
)

### Coordinates

In [213]:
vic.loc[
    (vic['Latitude'].isnull()) |
    (vic['Longitude'].isnull())
]

,Facility Name,Status,Region,Technology,Generator Capacity (MW),Latitude,Longitude
7,Bulgana Green Power Hub,committed,Victoria,"Battery (Discharging),Wind",224.0,NaN,NaN
21,Elaine,operating,Victoria,Wind,83.0,NaN,NaN
25,Cherry Tree,operating,Victoria,Wind,57.0,NaN,NaN

In [214]:
vic_edited = vic.copy()

Bulgana Green Power Hub

In [215]:
vic_edited["Latitude"].iloc[7] = -37.03841087898334
vic_edited["Longitude"].iloc[7] = 142.98421506768858

Elaine

In [216]:
vic_edited["Latitude"].iloc[21] = -37.632525496007005
vic_edited["Longitude"].iloc[21] = 144.0230869982597

Cherry Tree

In [217]:
vic_edited["Latitude"].iloc[25] = -37.09961608519872
vic_edited["Longitude"].iloc[25] = 145.26938232111786

### Wind and solar

In [218]:
vic_edited.loc[
    (vic_edited["Technology"] != "Solar (Utility)") &
    (vic_edited["Technology"] != "Wind")
]

,Facility Name,Status,Region,Technology,Generator Capacity (MW),Latitude,Longitude
7,Bulgana Green Power Hub,committed,Victoria,"Battery (Discharging),Wind",224.0,-37.038411,142.984215

In [219]:
vic_edited["Technology"].iloc[7] = "Wind"
vic_edited["Generator Capacity (MW)"].iloc[7] = 204

### Write

In [221]:
vic_edited.to_csv(
    path+"edited/facilities_solar_wind_VIC_edited.csv",
    index=False
)

# TAS

In [222]:
tas = pd.read_csv(
    path+"facilities_solar_wind_TAS.csv"
)

In [223]:
tas

,Facility Name,Status,Region,Technology,Generator Capacity (MW),Latitude,Longitude
0,Musselroe,operating,Tasmania,Wind,168,-40.777105,148.006315
1,Cattle Hill,operating,Tasmania,Wind,148,-42.154845,146.694693
2,Woolnorth,operating,Tasmania,Wind,140,-40.736375,144.694821
3,Granville Harbour,operating,Tasmania,Wind,111,-41.802000,145.056000

# WA

In [224]:
wa = pd.read_csv(
    path+"facilities_solar_wind_WA.csv"
)

In [225]:
wa

,Facility Name,Status,Region,Technology,Generator Capacity (MW),Latitude,Longitude
0,Yandin,operating,Western Australia,Wind,214.00,-30.680971,115.694249
1,Collgar,operating,Western Australia,Wind,206.00,-31.597510,118.490597
2,Warradarge,operating,Western Australia,Wind,180.00,-30.041742,115.346019
3,Badgingarra,operating,Western Australia,Wind,130.00,-30.439924,115.324045
4,Merredin,operating,Western Australia,Solar (Utility),100.00,-31.545150,118.228147
5,Walkaway,operating,Western Australia,Wind,89.10,-28.902492,114.892717
6,Emu Downs,operating,Western Australia,Wind,80.00,-30.475647,115.379052
7,Mumbida,operating,Western Australia,Wind,55.00,-29.011063,114.966228
8,Albany,operating,Western Australia,Wind,21.60,-35.065835,117.797506
9,Grasmere,operating,Western Australia,Wind,13.80,-35.065835,117.797506
10,Greenough River,operating,Western Australia,Solar (Utility),10.00,-28.903810,115.109370
11,Northam,operating,Western Australia,Solar (Utility),7.75,-31.651610,116.711541
12,Karakin,operating,Western Australia,Wind,5.00,-30.942242,115.366613
13,West Hills,operating,Western Australia,Wind,5.00,-30.858103,115.463261
14,Mount Barker,operating,Western Australia,Wind,2.43,-34.601163,117.643905
15,Kalbarri,operating,Western Australia,Wind,1.60,-27.898303,114.192354
16,Denmark,operating,Western Australia,Wind,1.44,-35.036971,117.319012
17,Metro,operating,Western Australia,Solar (Utility),0.96,-32.103385,115.808456
18,Bremer Bay,operating,Western Australia,Wind,0.60,-34.399033,119.389377